.accountBox{
    height: 100px;
    width: 150px;
    // border: 1px solid white;
    background-color: #e9fbff;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(-31%, 70%);



        li{
            color: black;
            width: 100%;
            border-bottom: .5px dotted grey;
            
        }
        a{
            color: black;
        }


}