.head {
    //border: 2px solid yellow;
    margin: 0 auto;
    width: 70%;
    height: 60vh;
    background-color: aliceblue;
    border-radius: 2.5px;
    display: flex;
    //padding-top: 2rem;
    justify-content: center;
    gap:2em;
}

.userDetails {
    margin:2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.userPhoto{
    height: 200px;
    width:250px;
    background-size: cover;
    border-radius: 2.5px;
}

.friends {
    margin-top: 1em;
}
.friendlist {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
    width: 15vw;
    //border: 1px solid blueviolet;
   

    li {
        list-style: none;
        padding: 2%;
        border-radius: 2.5px;

        &:hover{
            box-shadow: 1px 10px 15px -1px rgba(0,0,0,0.71);
        }
    }
}

.justforlogout {
    display: flex;
    flex-direction: column;
}

#logout {
    width: 7vw;
    height: 2rem;
    align-self: center;
    border-radius: 30px;
    border: 1px solid #869cc5;

    &:hover {
        background-color: #EB7462;
        color: white;
    }
}