.head {
    background-color: aliceblue;
    border:1px solid fuchsia;
    display: flex;
    justify-content: center;
}

// .loginWrapper{
//     border: 3px solid yellowgreen;
// }

// .Login {
//     border: 2px solid orange;
//     height:25vh;
// }