
        .loginWrapper {
                height: 60vh;
                width: 85vw;                     
                display: flex;
                background-color: #e9fbff;
                color: #869cc5;
                
            .imgWrapper{
                width: 50%;
                height: 100%;
                background-image: url("https://images.unsplash.com/photo-1491897554428-130a60dd4757?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
                background-size:cover;
                background-position: top center;
                background-repeat: no-repeat;

            }

            .loginForm{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                                        
            
                    div{
                        margin: 10px;
                        width: 50%;
                        height: 7%;
                        border: none;
                        padding: 5px;
                        background-color: white;
                        border-radius: 30px;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                            

                        input{
                            border: none;
                            width: 80%;
                            background-color: white;
                            outline: none;
                        }
                                             

                           
                    }
                       

                    button{
                        height: 7.5%;
                        width: 50%;
                        padding: 5px;
                        margin: 10px;
                        border: 1px solid #869cc5;
                        color: black;
                        background: #869cc5;
                        border-radius: 30px;
                        // box-shadow: inset 20px 20px 60px #7285a7,
                        //             inset -20px -20px 60px #9ab3e3;

                           
                    }

                    a{
                        margin: 10px;
                        color:#ee9038; 
                        font-weight:normal;

                        &:hover{
                            cursor: pointer;
                            font-weight: bold;
                           
                       }
                    }

            }

         }


