.nameInputs {
    width: 52%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;


    .loginNameInput {
        width: 60%;
        height: 60%;
        margin: 2px;
        background-color: white;
        position: relative;
        text-align: start;
        outline: #869cc5;
        border-radius: 30px;
        border: none;
        font-size: 0.8em;
        padding-left: 10px;

        &:active,
        &:hover {
            box-shadow: 5px 5px 5px #95b5bd, 0px 0px 5px #95b5bd;
        }


    }

}

.eyeForSignUp {

    position: absolute;
    right: 20%;
    bottom: 50%;
    transform: translate(10%, 105%);

    font-size: 13.33px;
}